header{
    background-color: orange;
    height: 60px;
    line-height: 40px;
   
}
footer{
    background-color:#333333;
    height: 100px;
    color:white;
    line-height: 100px;
    text-align: center;
}


.temporary_border{
    border: 1px dashed red
}
.row{
    height: 465px;
    width: 100%;
    width: 100%;
    padding: 0px;
}
.nav-item>a{
    color: #333333;
    
}